<ng-container [ngSwitch]="state">
    <app-progress-button
        *ngSwitchCase="'initializing'"
        [badgeCount]="0"
        label="Checking migration status..."
        [disabled]="true"
        value="0"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'ready'"
        [badgeCount]="0"
        label="Migrate reservations to Kea hosts database"
        [progressing]="false"
        value="0"
        (outClick)="onStartMigrationClick()"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'migrating'"
        [badgeCount]="migration.errors"
        label="Migrating reservations..."
        [value]="migration.progress"
        [disabled]="fetchingAPI"
        [model]="[
            {
                label: 'Show errored hosts',
                command: onShowErroredHostsClick,
                visible: migration.errors > 0
            },
            {
                label: 'Show affected hosts',
                command: onShowAffectedHostsClick
            },
            {
                label: 'Stop migration',
                command: onStopMigrationClick
            }
        ]"
        (outClick)="onRedirectToMigrationDetailsClick()"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'done'"
        [badgeCount]="14"
        label="Migration finished"
        [value]="1"
        [progressing]="fetchingAPI"
        [disabled]="fetchingAPI"
        [model]="[
            {
                label: 'Show errored hosts',
                command: onShowErroredHostsClick,
                visible: migration.errors > 0
            },
            {
                label: 'Show affected hosts',
                command: onShowAffectedHostsClick
            },
            {
                label: 'Mark as read',
                command: onMarkAsReadClick
            }
        ]"
        (outClick)="onRedirectToMigrationDetailsClick()"
    ></app-progress-button>
    <button
        pButton
        *ngSwitchCase="'error'"
        type="button"
        label="Migration status unavailable"
        icon="pi pi-exclamation-circle"
        class="p-button-danger"
        pTooltip="Click to retry"
        (outClick)="onRetryOnErrorClick()"
    ></button>
</ng-container>

<!-- Confirmation dialog -->
<p-dialog [(visible)]="showingConfirmation" styleClass="w-4">
    <ng-template pTemplate="header">
        Confirmation
    </ng-template>
    <!-- Content -->
    <div class="text-justify">
        <p>
            Migration will move the currently filtered host reservations
            from the Kea JSON configuration file to the hosts database.
        </p>
        <p>
            This operation cannot be undone.
        </p>
        <p class="text-center">
            <strong>
                Host reservations filter: "{{ currentFilter }}".
            </strong>
        </p>
        <p>
            Are you sure that you want to proceed?
        </p>
    </div>
    <!-- End of content -->
    <ng-template pTemplate="footer">
        <button pButton
            type="button"
            label="Cancel"
            class="p-button-text"
            (click)="onCancelMigrationClick()"
        ></button>
        <button pButton
            type="button"
            label="Confirm"
            (click)="onConfirmMigrationClick()"
        ></button>
    </ng-template>
</p-dialog>