<ng-container [ngSwitch]="state">
    <app-progress-button
        *ngSwitchCase="'initializing'"
        [badgeCount]="0"
        label="Checking migration status..."
        [disabled]="true"
        [value]="0"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'ready'"
        [badgeCount]="0"
        label="Migrate reservations to Kea hosts database"
        [progressing]="false"
        [value]="0"
        (outClick)="onStartMigrationClick()"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'migrating'"
        [badgeCount]="migration.errors"
        label="Migrating reservations..."
        [value]="migration.progress"
        [disabled]="fetchingAPI"
        [model]="[
            {
                label: 'Show errored hosts',
                command: onFilterErroredHostsClick,
                visible: migration.errors > 0
            },
            {
                label: 'Show affected hosts',
                command: onFilterAffectedHostsClick
            },
            {
                label: 'Stop migration',
                command: onStopMigrationClick
            }
        ]"
        (outClick)="onRedirectToMigrationDetailsClick()"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'done'"
        [badgeCount]="migration.errors"
        label="Migration finished"
        [value]="1"
        [progressing]="fetchingAPI"
        [disabled]="fetchingAPI"
        [model]="[
            {
                label: 'Show errored hosts',
                command: onFilterErroredHostsClick,
                visible: migration.errors > 0
            },
            {
                label: 'Show affected hosts',
                command: onFilterAffectedHostsClick
            },
            {
                label: 'Mark as read',
                command: onMarkAsReadClick
            }
        ]"
        (outClick)="onRedirectToMigrationDetailsClick()"
    ></app-progress-button>
    <p-button
        *ngSwitchCase="'error'"
        type="button"
        label="Migration status unavailable"
        icon="pi pi-exclamation-circle"
        styleClass="p-button-danger"
        pTooltip="Click to retry"
        (click)="onRetryOnErrorClick()"
    ></p-button>
</ng-container>

<!-- Confirmation dialog -->
<p-dialog
    [(visible)]="showingConfirmation"
    styleClass="w-4"
    [modal]="true"
    [dismissableMask]="true"
    [closeOnEscape]="true"
    (onHide)="onCancelStartingMigrationClick()"
>
    <ng-template pTemplate="header">
        <i class="pi pi-question-circle"></i>
        <span>Confirmation</span>
    </ng-template>
    <!-- Content -->
    <div class="text-justify">
        <p>
            Migration will move the currently filtered host reservations from the Kea JSON configuration file to the
            hosts database.
        </p>
        <p>This operation cannot be undone.</p>
        <div class="grid">
            <!-- App ID -->
            <div class="col-6 font-semibold" *ngIf="currentFilter.appId">
                App ID
            </div>
            <div class="col-6" *ngIf="currentFilter.appId">
                {{ currentFilter.appId }}
            </div>
            <!-- Subnet ID -->
            <div class="col-6 font-semibold" *ngIf="currentFilter.subnetId">
                Subnet ID
            </div> 
            <div class="col-6" *ngIf="currentFilter.subnetId">
                {{ currentFilter.subnetId }}
            </div>
            <!-- Kea subnet ID -->
            <div class="col-6 font-semibold" *ngIf="currentFilter.keaSubnetId">
                Kea subnet ID
            </div>
            <div class="col-6" *ngIf="currentFilter.keaSubnetId">
                {{ currentFilter.keaSubnetId }}
            </div>
            <!-- Conflict -->
            <div class="col-6 font-semibold" *ngIf="currentFilter.conflict">
                Conflict
            </div>
            <div class="col-6" *ngIf="currentFilter.conflict">
                {{ currentFilter.conflict }}
            </div>
            <!-- Global -->
            <div class="col-6 font-semibold" *ngIf="currentFilter.global">
                Global
            </div>
            <div class="col-6" *ngIf="currentFilter.global">
                {{ currentFilter.global }}
            </div>
            <!-- Text -->
            <div class="col-6 font-semibold" *ngIf="currentFilter.text">
                Text
            </div>
            <div class="col-6" *ngIf="currentFilter.text">
                {{ currentFilter.text }}
            </div>
        </div>
        <p>Are you sure that you want to proceed?</p>
    </div>
    <!-- End of content -->
    <ng-template pTemplate="footer">
        <button
            pButton
            type="button"
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="onCancelStartingMigrationClick()"
        ></button>
        <button
            pButton
            type="button"
            icon="pi pi-check"
            label="Confirm"
            (click)="onConfirmStartingMigrationClick()"
        ></button>
    </ng-template>
</p-dialog>
