<ng-container [ngSwitch]="state">
    <app-progress-button
        *ngSwitchCase="'initializing'"
        [badgeCount]="0"
        label="Checking migration status..."
        [disabled]="true"
        value="0"
    ></app-progress-button>
    <ng-container *ngSwitchCase="'ready'">
        <app-progress-button
            [badgeCount]="0"
            label="Migrate reservations to Kea hosts database"
            [progressing]="false"
            value="0"
            (outClick)="onStartMigrationClick()"
        ></app-progress-button>
        <p-confirmDialog
            styleClass="w-4"
            message="Migration will move the currently filtered host reservations from the Kea JSON configuration file to the hosts database. This operation cannot be undone. Host reservations filter: {{
                currentFilter
            }}. Are you sure that you want to proceed?"
            header="Confirmation"
            icon="pi pi-truck"
            rejectButtonStyleClass="p-button-text"
        ></p-confirmDialog>
    </ng-container>
    <app-progress-button
        *ngSwitchCase="'migrating'"
        [badgeCount]="migration.errors"
        label="Migrating reservations..."
        [value]="migration.progress"
        [disabled]="fetchingAPI"
        [model]="[
            {
                label: 'Show errored hosts',
                command: onShowErroredHostsClick,
                visible: migration.errors > 0
            },
            {
                label: 'Show affected hosts',
                command: onShowAffectedHostsClick
            },
            {
                label: 'Cancel migration',
                command: onCancelMigrationClick
            }
        ]"
        (outClick)="onRedirectToMigrationDetailsClick()"
    ></app-progress-button>
    <app-progress-button
        *ngSwitchCase="'done'"
        [badgeCount]="14"
        label="Migration finished"
        [value]="1"
        [progressing]="fetchingAPI"
        [disabled]="fetchingAPI"
        [model]="[
            {
                label: 'Show errored hosts',
                command: onShowErroredHostsClick,
                visible: migration.errors > 0
            },
            {
                label: 'Show affected hosts',
                command: onShowAffectedHostsClick
            },
            {
                label: 'Mark as read',
                command: onMarkAsReadClick
            }
        ]"
        (outClick)="onRedirectToMigrationDetailsClick()"
    ></app-progress-button>
    <button
        pButton
        *ngSwitchCase="'error'"
        type="button"
        label="Migration status unavailable"
        icon="pi pi-exclamation-circle"
        class="p-button-danger"
        pTooltip="Click to retry"
        (outClick)="onRetryOnErrorClick()"
    ></button>
</ng-container>
