<div class="flex align-items-end gap-1">
    <span class="flex-auto min-w-0">
        <p-floatlabel *ngIf="floatingPlaceholder">
            <p-autoComplete
                multiple
                fluid
                [suggestions]="classesSuggestions"
                [dropdown]="true"
                (completeMethod)="prepareClasses($event)"
                [formControl]="classFormControl"
                title="Type or Select Class Names From List"
                [inputId]="inputId"
            />
            <label *ngIf="floatingPlaceholder" [for]="inputId">Type or Pick From List</label>
        </p-floatlabel>
        <p-autoComplete
            *ngIf="!floatingPlaceholder"
            multiple
            fluid
            [suggestions]="classesSuggestions"
            [dropdown]="true"
            (completeMethod)="prepareClasses($event)"
            [formControl]="classFormControl"
            placeholder="Type or Pick From List"
            title="Type or Select Class Names From List"
            [inputId]="inputId"
        />
    </span>
    <!-- TODO: is the help tip needed? -->
    <!--    <app-help-tip subject="client classes selection">-->
    <!--        <p>-->
    <!--            This dropdown list displays the client classes configured on the monitored DHCP servers. Check-->
    <!--            one or more classes you want to assign to the host reservation.-->
    <!--        </p>-->
    <!--        <p>-->
    <!--            If a desired class is not in this list, you can type its name directly in the input box.-->
    <!--        </p>-->
    <!--    </app-help-tip>-->
</div>
